* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.select-container {
    display: flex;
    align-items: center;
    max-width: 700px; /* Ancho máximo del contenedor */
    background-color: #dfdcdc; /* Color de fondo del contenedor */
    padding: 10px; /* Espaciado interno del contenedor */
    border-radius: 8px; /* Bordes redondeados del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
}
.select-container label {
    margin-right: 10px; /* Espacio entre la etiqueta y el select */
}

body {
    background-color: #dfdcdc;
}
.fdestacados {
    font-size: 20px;
    text-align: center;
    color: #14150f;
    margin-bottom: 5px;
}
.linea {
    width: 50%;
    margin: 0 auto;
    border: none; /* Elimina el borde por defecto */
    height: 5px; /* Altura de la línea */
    background-color: #ffc403; /* Color de la línea */
    margin-bottom: 20px; /* Espacio entre la línea y el siguiente elemento */
}

/* Header */
.header {
    background-color: #14150f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}
.header2 {
    width: 100%;
    height: 500px;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(44, 55%, 47%, 0.493), hsla(56, 100%, 61%, 0.541)), url(../../Recursos/foti.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(44, 100%, 51%, 0.582), hsla(56, 100%, 51%, 0.514)), url(../../Recursos/foti.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    position: relative;
    margin-top: -25px;
}
.textos-header {
    text-align: center; /* Centra el contenido */
    padding: 50px 0; /* Añade un espacio alrededor del contenido */
    font-family: Arial, sans-serif; /* Utiliza una fuente específica */
}

.textos-header h1 {
    font-size: 200px; /* Tamaño del texto del h1 */
    margin-bottom: -20px; /* Añade un espacio entre el h1 y el h2 */
    color: #FFF; /* Color del texto */
    font-weight: bold; /* Hace que el texto sea más grueso */
}

.textos-header h2 {
    font-size: 24px; /* Tamaño del texto del h2 */
    color: #FFF; /* Color del texto */
}
.wave{
    position: absolute;
    bottom:  0;
    width:  100%;

}

    .header .logo {
        cursor: pointer;
        margin-right: auto;
    }

        .header .logo img {
            height: 60px;
            width: auto;
            transition: all 0.3s;
        }

            .header .logo img:hover {
                transform: scale(1.1);
            }

    .header .linksnav {
        list-style: none;
    }

        .header .linksnav li {
            display: inline-block;
            padding: 0 20px;
        }

            .header .linksnav li:hover {
                transform: scale(1.1);
            }

        .header .linksnav a {
            font-size: 700;
            color: #eceff1;
            text-decoration: none;
        }

        .header .linksnav li a:hover {
            color: #ffc403;
        }

    .header .btn button {
        margin-left: 20px;
        font-weight: 700;
        color: #1b3039;
        padding: 9px 25px;
        background: #eceff1;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

        .header .btn button:hover {
            background-color: #e2f1f8;
            color: #ffc403;
            transform: scale(1.1);
        }


.select-text {
    font-size: 20px;
    font-weight: bold; /* Establecer el peso de la fuente en negrita */
}

.categorias {
    margin-bottom: 20px;
}

.button {
    padding: 8px 16px;
    background-color: #FABC37;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -70px;
}

    .button:hover {
        background-color: #b38300;
    }

    
.button2 {
    padding: 8px 16px;
    background-color: #e3ca28; /* Color verde */
    color: white; /* Texto en blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button2:hover {
        background-color: #0056b3;
    }

.button2::after {
    content: "\2713"; /* Código Unicode para el símbolo de verificación */
    font-size: 16px;
    margin-left: 2px; /* Espacio después del símbolo de verificación */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 20px;
}

    .card img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

.contenido-card {
    padding: 10px;
    text-align: center;
}

#errorMsg {
    color: red;
    display: none;
}
.container-card {
    display: flex;
    flex-wrap: wrap; /* Permitir el salto de línea */
    gap: 10px; /* Espacio entre las tarjetas */
    justify-content: flex-start; /* Alinear las tarjetas a la izquierda */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: calc(25% - 20px); /* Ancho de cada tarjeta (25% del ancho total menos el espacio entre ellas) */
}

    .card img {
        width: 100%;
        height: auto; /* Para mantener la proporción de la imagen */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

.contenido-card {
    padding: 10px;
    text-align: center;
}

    .card .contenido-card {
        padding: 15px;
        text-align: center;
    }

        .card .contenido-card h3 {
            margin-bottom: 15px;
            color: #1b3039;
        }

        .card .contenido-card p {
            line-height: 1.8;
            color: #14150f;
            font-size: 14px;
            margin-bottom: 5px;
        }

#errorMsg {
    color: red;
    display: none;
}

/*menu DESPLEGABLE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #14150f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black; /* Color del texto negro */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #14150f;
    }

/* Estilos personalizados para Starability */

/* Cambiar el color de fondo de las estrellas */
.starability-growRotate {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

    .starability-growRotate input[type="radio"] {
        display: none;
    }

    .starability-growRotate label {
        float: right;
        padding: 0;
        cursor: pointer;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

        .starability-growRotate label:before {
            content: '\2605';
            font-size: 25px;
            color: #000; /* Cambiar color de las estrellas a negro */
        }

    .starability-growRotate input[type="radio"]:checked ~ label:before,
    .starability-growRotate input[type="radio"]:checked ~ label {
        color: #ffcc00; /* Cambiar color de estrellas seleccionadas a amarillo */
    }


/* Estilos del formulario de categorías */
/* Estilos del formulario de categorías */
.categorias {
    text-align: center;
    margin-top: 20px;
}

.categorias h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.categorias button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.categorias form {
    margin-top: 20px;
    display: none;
}

    .categorias form label {
        display: block;
        margin-bottom: 10px;
    }

    .categorias form select {
        width: 100%;
        padding: 6px; /* Reducimos el padding */
        font-size: 14px; /* Reducimos el tamaño de la fuente */
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .categorias form button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

/* Estilos de la lista de categorías */
.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

    .container-card .card {
        margin: 10px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .container-card .card img {
            width: 100%;
            height: auto;
            display: block;
        }

        .container-card .card .contenido-card {
            padding: 15px;
            text-align: center;
        }

            .container-card .card .contenido-card button {
                padding: 8px 16px;
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
                margin: 5px;
            }

                .container-card .card .contenido-card button:hover {
                    background-color: #0056b3;
                }

                .opcion {
                    margin-right: 10px; /* Espacio a la derecha del select */
                    flex-grow: 1;
                    font-family: Arial, sans-serif; /* Tipo de fuente */
                    font-size: 16px; /* Tamaño de fuente */
                    color: #333; /* Color del texto */
                    padding: 10px; /* Espaciado interno */
                    border: 1px solid #ccc; /* Borde del select */
                    border-radius: 5px; /* Borde redondeado */
                    appearance: none; /* Eliminar el estilo predeterminado del select */
                    -webkit-appearance: none; /* Para navegadores basados en WebKit */
                    -moz-appearance: none; /* Para navegadores basados en Gecko (Firefox) */
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path fill="%23333" d="M6 6L0 0h12z"/></svg>'); /* Icono de flecha personalizado */
                    background-repeat: no-repeat; /* No repetir la imagen de fondo */
                    background-position: right 2px center; /* Posición del icono de flecha */
                    background-size: 10px; /* Tamaño del icono de flecha */
}

.opcion option {
    font-family: Arial, sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    background-color: 'orange'; /* Color de fondo */
}

option[data-img] {
    background-size: cover; /* Para cubrir completamente el contenedor */
    background-position: center; /* Para centrar la imagen */
    width: 100px; /* Ancho deseado */
    height: 5px; /* Alto deseado */
}