/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    color: #000000; /* Cambio de color de texto a blanco */
    background-color: #000000; /* Cambio de color de fondo a negro */
}

/* Header */
.header {
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}

    .header .logo {
        cursor: pointer;
        margin-right: auto;
    }

        .header .logo img {
            height: 60px;
            width: auto;
            transition: all 0.3s;
        }

            .header .logo img:hover {
                transform: scale(1.1);
            }

    .header .linksnav {
        list-style: none;
    }

        .header .linksnav li {
            display: inline-block;
            padding: 0 20px;
        }

            .header .linksnav li:hover {
                transform: scale(1.1);
            }

        .header .linksnav a {
            font-size: 20px;
            color: #eceff1;
            text-decoration: dashed;
        }

        .header .linksnav li a:hover {
            color: #ffc403;
        }

.nombre-cliente {
    font-size: 16px;
    font-weight: bold;
    color: white; /* Cambia el color del texto a blanco */
    margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
}

/* Carrusel */
.carrusel {
    width: auto;
    height: auto;
    margin-right: none;
    overflow: hidden;
}

    .carrusel ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 20s infinite alternate ease-in-out;
    }

    .carrusel li {
        width: 50%;
        list-style: none;
    }

    .carrusel img {
        width: 100%;
    }

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* Estilos adicionales después del carrusel */
.contenedor-nosotros {
    padding: 5rem 0; /* Espaciado alrededor del contenido */
    background-color: #f8f9fa; /* Cambia el color de fondo a un tono más claro */
    text-align: center; /* Alinea el contenido al centro */
}

.texto-nosotros {
    max-width: 800px;
    margin: 0 auto; /* Centra el contenido */
}

    .texto-nosotros h1 {
        margin-bottom: 2rem; /* Espaciado inferior */
    }

    .texto-nosotros p {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-bottom: 1.5rem; /* Espaciado inferior */
    }

.boton {
    display: inline-block;
    padding: 1rem 2rem; /* Espaciado interno */
    background-color: #ffc107; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto a blanco */
    font-size: 1.2rem;
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 40px;
    transition: background-color 0.3s; /* Agrega una transición al color de fondo */
}

    .boton:hover {
        background-color: #ff9800; /* Cambia el color de fondo al pasar el mouse */
    }

/* Estilos para el pie de página */
.footer {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 2rem;
    font-size: 1.6rem;
}
