* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #dfdcdc;
}

/* Header */
.header {
    background-color: #14150f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}

    .header .logo {
        cursor: pointer;
        margin-right: auto;
    }

        .header .logo img {
            height: 60px;
            width: auto;
            transition: all 0.3s;
        }

            .header .logo img:hover {
                transform: scale(1.1);
            }

    .header .linksnav {
        list-style: none;
    }

        .header .linksnav li {
            display: inline-block;
            padding: 0 20px;
        }

            .header .linksnav li:hover {
                transform: scale(1.1);
            }

        .header .linksnav a {
            font-size: 700;
            color: #eceff1;
            text-decoration: none;
        }

        .header .linksnav li a:hover {
            color: #ffc403;
        }

    .header .btn button {
        margin-left: 20px;
        font-weight: 700;
        color: #1b3039;
        padding: 9px 25px;
        background: #eceff1;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

        .header .btn button:hover {
            background-color: #e2f1f8;
            color: #ffc403;
            transform: scale(1.1);
        }

.nombre-cliente {
    font-size: 16px;
    font-weight: bold;
    color: white; /* Cambia el color del texto a blanco */
    margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #FFA500;
}

p {
    line-height: 1.5;
}

ul, ol {
    margin-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

a {
    color: #FFA500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-buttons {
    margin-top: 20px;
}

.social-buttons a {
    text-decoration: none;
    margin-right: 10px;
}

.social-buttons i {
    font-size: 24px;
}


/*menu DESPLEGABLE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #14150f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black; /* Color del texto negro */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #14150f;
    }
