<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="stylepagfotografo.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="../Recursos/LOGOA.png" alt="Logo" />
      </div>
      <nav>
        <ul class="linksnav">
          <li><a href="perfil.php">Inicio</a></li>
          <li><a href="portafolio.php">Portafolio</a></li>
          <li><a href="publicaciones.php">Publicaciones</a></li>
          <li><a href="mensajes.php">Mensajes</a></li>
          <li><a href="ayuda.html">Ayuda</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
      <a class="btn" href="../InicioDeSesion/index.php"
        ><button>Cerrar Sesión</button></a
      >
    </header>
    <main>
      <section class="profile-edit">
        <h2>Editar Perfil</h2>
        <br />
        <form id="edit-profile-form" method="POST" action="editarelperfil.php">
          <input
            type="hidden"
            name="id"
            value="<?php echo $_SESSION['usuario_id']; ?>"
          />
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              value="<?php echo $nombre; ?>"
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <input
              type="email"
              id="correo"
              name="correo"
              value="<?php echo $correo; ?>"
            />
          </div>
          <div class="form-group">
            <label for="telefono">Numero de contacto:</label>
            <input
              type="number"
              id="telefono"
              name="telefono"
              value="<?php echo $telefono; ?>"
            />
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4">
<?php echo $descripcion; ?></textarea
            >
          </div>
          <button class="edit-button" type="submit">Guardar Cambios</button>
        </form>
      </section>
    </main>
  </body>
</html>
