* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #dfdcdc;
}
/* Header */

.header{
    background-color: #14150f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .linksnav{
    list-style: none;
}

.header .linksnav li{
    display: inline-block;
    padding: 0 20px;    
}

.header .linksnav li:hover{
    transform: scale(1.1);
}

.header .linksnav a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .linksnav li a:hover{
    color: #ffc403;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffc403;
    transform: scale(1.1);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del portafolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-item {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.portfolio-image {
    width: 100%;
    height: auto;
}

/* Estilos de la página de edición */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FF7500;
}

/* Estilos del botón de editar */
a.edit-button {
    display: inline-block;
    background-color: #FFA500;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

a.edit-button:hover {
    background-color: #FF7500;
}