* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: dfdcdc;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* Header */
.header {
    background-color: #14150f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}
.header2 {
    width: 100%;
    height: 500px;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(44, 55%, 47%, 0), hsla(56, 100%, 61%, 0)), url(../../Recursos/foto3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(44, 100%, 51%, 0), hsla(56, 100%, 51%, 0)), url(../../Recursos/foto3.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    position: relative;
    margin-top: -25px;
    background-position-y: 55%;
}
.textos-header {
    text-align: center; /* Centra el contenido */
    padding: 50px 0; /* Añade un espacio alrededor del contenido */
    font-family: Arial, sans-serif; /* Utiliza una fuente específica */
}
.linea {
    width: 50%;
    margin: 0 auto;
    border: none; /* Elimina el borde por defecto */
    height: 5px; /* Altura de la línea */
    background-color: #ffab03; /* Color de la línea */
    margin-bottom: 20px; /* Espacio entre la línea y el siguiente elemento */
}
.textos-header h1 {
    font-size: 200px; /* Tamaño del texto del h1 */
    margin-bottom: 10px; /* Añade un espacio entre el h1 y el h2 */
    color: #FFF; /* Color del texto */
    font-weight: bold; /* Hace que el texto sea más grueso */
}

.textos-header h2 {
    font-size: 24px; /* Tamaño del texto del h2 */
    color: #FFF; /* Color del texto */
}
.wave{
    position: absolute;
    bottom:  0;
    width:  100%;

}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .linksnav {
    list-style: none;
}

.header .linksnav li {
    display: inline-block;
    padding: 0 20px;
}

.header .linksnav li:hover {
    transform: scale(1.1);
}

.header .linksnav a {
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .linksnav li a:hover {
    color: #ffc403;
}

.header .btn button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffc403;
    transform: scale(1.1);
}

.nombre-cliente {
    font-size: 16px;
    font-weight: bold;
    color: white; /* Cambia el color del texto a blanco */
    margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
}

.container {
    margin-top: 20px;
}

.input-group {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.input-group .form-control {
    border: 1px solid #ccc;
    border-right: none;
    padding: 10px;
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

.input-group .btn {
    background-color: #14150f;
    color: white;
    border: 1px solid #14150f;
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group .btn:hover {
    background-color: #ffc403;
    color: #14150f;
}

/* contenido de la vista - fotografos */
h1 {
    margin-top: 20px;
}

.search-bar {
    margin: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.photographers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 70%;
    height: 80%;
    max-width: 100%;
    margin: 20px 50px;
    margin-bottom: 20px; /* Agrega margen inferior */
}

.photographer {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    position: relative; /* Se añade posicionamiento relativo */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

}

.photographer:hover {
    transform: translateY(-5px);
}

.photographer img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

.photographer h2 {
    margin: 10px 0;
}

.photographer p {
    margin: 0 10px 10px;
}

.estrellas {
    color: gold; /* Cambia el color de las estrellas */
    font-size: 40px; /* Ajusta el tamaño de las estrellas según sea necesario */
    display: block; /* Convierte las estrellas en un elemento de bloque */
    margin-top: 5px; /* Espacio entre la imagen y las estrellas */
}


.title-container {
    background-color: #ffffff; /* Color de fondo del recuadro */
    padding: 20px; /* Espaciado interno del recuadro */
    color: #000000; /* Color del texto */
    text-align: center; /* Alineación del texto al centro */
    border-radius: 5px; /* Radio de borde para crear esquinas redondeadas */
    margin-bottom: 20px; /* Margen inferior para separar el título de los fotógrafos */
}
/* Menu desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #14150f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #14150f;
}

/* Estilos personalizados para Starability */
.starability-growRotate {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.starability-growRotate input[type="radio"] {
    display: none;
}

.starability-growRotate label {
    float: right;
    padding: 0;
    cursor: pointer;
    transition: .3s ease;
}

.starability-growRotate label:before {
    content: '\2605';
    font-size: 25px;
    color: #000;
}

.starability-growRotate input[type="radio"]:checked ~ label:before,
.starability-growRotate input[type="radio"]:checked ~ label {
    color: #ffcc00;
}


.contenedor {
    background-color: #ffffff;
    display: flex;
    padding: 25px;
    color: #000000;
    width: 75%;
    margin: auto; /* Esto centra horizontalmente el contenedor */
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border: 1px solid #a0a0a0; /* Borde */
    margin-bottom: 2px;
}
.top-1 {
    font-size: 17px; /* Tamaño de la fuente */
    color: #a8a8a8; /* Color del texto */
    margin-top: 5px; /* Espacio desde arriba */
    text-align: right; /* Alineación a la derecha */
}
.texto {
    padding-left: 30px;
}
.imagen {
    width: 150px; /* Nuevo valor para width */
    border-radius: 125px; /* Ajustado proporcionalmente al nuevo width */
    height: 150px; /* Nuevo valor para height */
    float: left;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.boton-categoria {
    background-color: orange; /* Color de fondo naranja */
    color: white; /* Color del texto blanco */
    font-weight: bold; /* Texto en negrita */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo puntero */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    margin-top: 10px; /* Espacio entre la imagen y el botón */
}

.boton-categoria:hover {
    background-color: darkorange; /* Cambio de color de fondo al pasar el cursor */
}
.photographer-img {
    width: 100%; /* Tamaño máximo del 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 200px; /* Ancho máximo de 200px */
}