* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #dfdcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header {
    background-color: #14150f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 40px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .linksnav {
    list-style: none;
}

.header .linksnav li {
    display: inline-block;
    padding: 0 20px;
}

.header .linksnav li:hover {
    transform: scale(1.1);
}

.header .linksnav a {
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .linksnav li a:hover {
    color: #ffc403;
}

.header .btn button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffc403;
    transform: scale(1.1);
}

.container {
    margin-top: 20px;
}

.input-group {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.input-group .form-control {
    border: 1px solid #ccc;
    border-right: none;
    padding: 10px;
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

.input-group .btn {
    background-color: #14150f;
    color: white;
    border: 1px solid #14150f;
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group .btn:hover {
    background-color: #ffc403;
    color: #14150f;
}

/* contenido de la vista - fotografos */
h1 {
    margin-top: 20px;
}

.search-bar {
    margin: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.photographers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.photographer {
    position: relative; /* Se añade posicionamiento relativo */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.photographer:hover {
    transform: translateY(-5px);
}

.photographer img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.photographer h2 {
    margin: 10px 0;
}

.photographer p {
    margin: 0 10px 10px;
}

.estrellas {
    color: gold; /* Cambia el color de las estrellas */
    font-size: 24px; /* Ajusta el tamaño de las estrellas según sea necesario */
}

.title-container {
    background-color: #ffffff; /* Color de fondo del recuadro */
    padding: 20px; /* Espaciado interno del recuadro */
    color: #000000; /* Color del texto */
    text-align: center; /* Alineación del texto al centro */
    border-radius: 5px; /* Radio de borde para crear esquinas redondeadas */
    margin-bottom: 20px; /* Margen inferior para separar el título de los fotógrafos */
}
/* Menu desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #14150f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #14150f;
}

/* Estilos personalizados para Starability */
.starability-growRotate {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.starability-growRotate input[type="radio"] {
    display: none;
}

.starability-growRotate label {
    float: right;
    padding: 0;
    cursor: pointer;
    transition: .3s ease;
}

.starability-growRotate label:before {
    content: '\2605';
    font-size: 25px;
    color: #000;
}

.starability-growRotate input[type="radio"]:checked ~ label:before,
.starability-growRotate input[type="radio"]:checked ~ label {
    color: #ffcc00;
}
