

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #dfdcdc;
}

/* Header */
.header {
    background-color: #140c01;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}

.header2 {
    width: 100%;
    height: 500px;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(44, 55%, 47%, 0.493), hsla(56, 100%, 61%, 0.541)), url(../../Recursos/foti.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(44, 100%, 51%, 0.582), hsla(56, 100%, 51%, 0.514)), url(../../Recursos/foti.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    position: relative;
    margin-top: -25px;
}
.container2 {
    text-align: center;
    padding: 50px 0;
    font-family: Arial, sans-serif;
    position: relative;
    margin-bottom: 95px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
    margin-top: -13px;
    overflow: hidden;
    background-color: #a7ff7800; /* Color de fondo */
}

.container2 .bigTitle {
    font-size: 250px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    margin-top: 5px;
}

.container2 .smallTitle {
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    top: 170px;
    color: 'black'; /* Color del texto */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.wave{
    position: absolute;
    bottom:  0;
    width:  100%;

}
.fdestacados {
    font-size: 20px;
    text-align: center;
    color: #14150f;
    margin-bottom: 5px;
}

.fdestacados h1 {
    font-size: 35px;
}

.linea2 {
    width: 50%;
    margin: 0 auto;
    border: none; /* Elimina el borde por defecto */
    height: 5px; /* Altura de la línea */
    background-color: #ffc403; /* Color de la línea */
    margin-bottom: 20px; /* Espacio entre la línea y el siguiente elemento */
}
    .header .logo {
        cursor: pointer;
        margin-right: auto;
    }

        .header .logo img {
            height: 60px;
            width: auto;
            transition: all 0.3s;
        }

            .header .logo img:hover {
                transform: scale(1.1);
            }

    .header .linksnav {
        list-style: none;
    }

        .header .linksnav li {
            display: inline-block;
            padding: 0 20px;
        }

            .header .linksnav li:hover {
                transform: scale(1.1);
            }

        .header .linksnav a {
            font-size: 700;
            color: #eceff1;
            text-decoration: none;
        }

        .header .linksnav li a:hover {
            color: #ffc403;
        }

    .header .btn button {
        margin-left: 20px;
        font-weight: 700;
        color: #1b3039;
        padding: 9px 25px;
        background: #eceff1;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

        .header .btn button:hover {
            background-color: #e2f1f8;
            color: #ffc403;
            transform: scale(1.1);
        }

.nombre-cliente {
    font-size: 16px;
    font-weight: bold;
    color: white; /* Cambia el color del texto a blanco */
    margin-right: 5px; /* Ajusta el margen derecho seg�n sea necesario */
    margin-top: 0px; /* Ajusta el margen superior seg�n sea necesario */
}


.formulario {
    display: flex;
    justify-content: center; /* Centra el formulario horizontalmente */
}

.form-container {
    background-color: BLACK;
    max-width: 600px; /* Ajusta el ancho máximo del formulario */
    margin: 30px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ffd700;
    font-size: 70px; /* Reducción del tamaño de la fuente para evitar que sea demasiado grande */
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 20px; /* Añade un espacio entre el título y el párrafo */
    color: white;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Ajusta el ancho de los campos de entrada y el área de texto */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Ajusta el radio de borde */
}

.contact-info {
    text-align: center; /* Centra el contenido dentro del contenedor de información de contacto */
}

.contact-info h1 {
    margin-bottom: 2px;
    font-size: 45px;
    color:  #ffd700; /* Cambia el color del texto */
    font-weight: bold; /* Sobrescribe cualquier estilo de negrita */
}

.contact-info h5 {
    margin-bottom: 10px;
    font-size: 18px;
    color: white; /* Cambia el color del texto */
    font-weight: normal; /* Sobrescribe cualquier estilo de negrita */
}

input[type="submit"] {
    background-color: #ffd700;
    color: black;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
    font-size: 15px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #ff3300;
}
/*menu DESPLEGABLE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #14150f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black; /* Color del texto negro */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #14150f;
    }


/*iconos*/

.social-icons {
    margin-top: 20px;
    text-align: center; /* Centra los iconos horizontalmente */
}

.social-icons a {
    display: inline-block; /* Alinea los iconos en línea */
    margin: 0 10px; /* Ajusta el margen entre los iconos */
    margin-top: -50px;
}

.social-icons img {
   
    width: 40px; /* Ajusta el ancho de las imágenes según sea necesario */
    height: 40px; /* Ajusta el alto de las imágenes según sea necesario */
}

