* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #dfdcdc;
}

/* Header */
.header {
    background-color: #14150f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 10%;
}

    .header .logo {
        cursor: pointer;
        margin-right: auto;
    }

        .header .logo img {
            height: 60px;
            width: auto;
            transition: all 0.3s;
        }

            .header .logo img:hover {
                transform: scale(1.1);
            }

    .header .linksnav {
        list-style: none;
    }

        .header .linksnav li {
            display: inline-block;
            padding: 0 20px;
        }

            .header .linksnav li:hover {
                transform: scale(1.1);
            }

        .header .linksnav a {
            font-size: 700;
            color: #eceff1;
            text-decoration: none;
        }

        .header .linksnav li a:hover {
            color: #ffc403;
        }

    .header .btn button {
        margin-left: 20px;
        font-weight: 700;
        color: #1b3039;
        padding: 9px 25px;
        background: #eceff1;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

        .header .btn button:hover {
            background-color: #e2f1f8;
            color: #ffc403;
            transform: scale(1.1);
        }

.nombre-cliente {
    font-size: 16px;
    font-weight: bold;
    color: white; /* Cambia el color del texto a blanco */
    margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
}

h1 {
    text-align: center;
    align-items: center;
    color: #333; /* Color del texto */
    margin-right: 50px; /* Ajusta el margen derecho según sea necesario */
    margin-top: 40px; /* Ajusta el margen superior según sea necesario */
    padding: 30px 150px;
}

/* Categorias */
.categorias h1 {
    font-size: 35px;
    text-align: center;
    color: #14150f;
    padding: 20px;
}

.categorias p {
    text-align: justify;
    padding: 30px 150px;
}

.container-card {
    background-color: #fffffff2;
    width: 75%;
    display: flex;
    padding: 0px 0px;
    margin: auto;
}

.card {
    width: 75%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

    .card:hover {
        box-shadow: 5px 5px 20px #ffc40345;
        transform: translateY(-2%);
    }

    .card img {
        width: 50%;
        display: block;
        margin: 20px auto 0; /* Agrega un margen superior de 20px y centra horizontalmente */
        height: 200px;
    }


    .card .contenido-card {
        padding: 5px;
        text-align: center;
    }

        .card .contenido-card h3 {
            margin-bottom: 15px;
            color: #1b3039;
        }

        .card .contenido-card p {
            line-height: 1.8;
            color: #14150f;
            font-size: 14px;
            margin-bottom: 5px;
        }

.smas button {
    font-weight: 700;
    color: #ffffff;
    padding: 8px 25px;
    background: #ffc403;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

    .smas button:hover {
        background-color: #cfcfcf;
        color: #14150f;
        transform: scale(1.1);
    }

/*menu DESPLEGABLE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #14150f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black; /* Color del texto negro */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #14150f;
    }

/* Estilos personalizados para Starability */

/* Cambiar el color de fondo de las estrellas */
.starability-growRotate {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

    .starability-growRotate input[type="radio"] {
        display: none;
    }

    .starability-growRotate label {
        float: right;
        padding: 0;
        cursor: pointer;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

        .starability-growRotate label:before {
            content: '\2605';
            font-size: 40px;
            color: #000; /* Cambiar color de las estrellas a negro */
        }

    .starability-growRotate input[type="radio"]:checked ~ label:before,
    .starability-growRotate input[type="radio"]:checked ~ label {
        color: #ffcc00; /* Cambiar color de estrellas seleccionadas a amarillo */
    }
